.mainbody{
    background-color: gray;
    position: fixed;
    left: 5%;
    right: 5%;
    top: 100px;
    bottom: 0px;
    z-index: -1;
}

.mainbods{
    background-color: gray;
    position: fixed;
    top: 150px;
    left: 5%;
    right: 5%;
    bottom: 0px;
    z-index: -1;
}

