 body { background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.posk {
     z-index: 100;
    	position: fixed;
    	overflow: hidden;
    	top: 0;
    	width: 100%;
    }
	    
    .btn-primary{
     background-color: rgb(51, 156, 94);
	 margin-right: 1%;
	 margin-left: 1%;
	 color: rgb(255, 224, 0);
	 border: 3px solid rgb(255, 224, 0);
    }
    .btn-primary:hover {
	background-color: rgb(255, 224, 0);
	color: rgb(51, 156, 94);
	border: 3px solid rgb(255, 224, 0);
	}

.center {
	margin: auto;
	width: 50%;
	text-align: center;
	padding: 10px;
	}
.input{
	margin-left: 8px
}
.span{
	margin-top: 10px;	
	align-content: center;
	width: 80%;
}

.lght-clr{
	background-color: rgb(100, 100,  100); 
	color: rgb(255, 255, 255);
}

.dck-clr{
	background-color: rgb(200, 200, 200); 
	color: rgb(10, 10, 10); 
}

.search{
	margin-top: 10px;
	margin-bottom: 5px;
}

.searchtxt{
	margin-left: 10px;
	text-align: left;
}