 body { background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.posk {
     z-index: 100;
    	position: fixed;
    	overflow: hidden;
    	top: 0;
    	width: 100%;
    }
	    
    .btn-primary{
     background-color: rgb(51, 156, 94);
	 margin-right: 1%;
	 margin-left: 1%;
	 color: rgb(255, 224, 0);
	 border: 3px solid rgb(255, 224, 0);
    }
    .btn-primary:hover {
	background-color: rgb(255, 224, 0);
	color: rgb(51, 156, 94);
	border: 3px solid rgb(255, 224, 0);
	}
